.App {
  position: relative;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  flex-direction: column;  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.6em;
}

.App-footer {
  background-color: #282c34;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}

.App-footer a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(137, 231, 255);
  padding: 0.6em;
}

.container {
  padding-bottom: 3.5rem;
}

.App-header h3 {
  width: fit-content;
  padding: 0.4em;
  display: inline;
}

.App-header button {
  background-color: rgb(118, 176, 30) !important;
  float: right;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 0.6em 1.4em;
  border-radius: 0.3em !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.2em !important;
}

.popup {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #282c3447;
}

/* CATEGORIES */
.categoryDropdown {
  position: relative;
  max-width: 700px;
  margin: auto;
}

.categoryDropdown img {
  width: 100px;
  height: 100px;
  margin: auto 0.2em auto 0;
}

.categoryExpandBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.listCard {
  display: flex;
  background-color: #e9e9e9;
  border-radius: 0.3em;
  padding: 1em;
  margin: 0.25em;
  border: 3px solid #dbdbdb;
}

.listCard .productCardDetails {
  width: -webkit-fill-available;
}

.listCard .replaceButton {
  background-color: rgb(211, 159, 0);
}

.listCard .removeButton {
  background-color: rgb(211, 74, 0);
}

.listCard .productCardButtons {
  width: fit-content;
  margin-left: auto;
}

.nutritionButton {
  margin-left: 1em;
  background-color: rgb(43, 136, 206) !important;
}

.nutitrionImage {
  margin: 1em !important;
  width: 300px !important;
  height: 300px !important;
  border: 3px solid rgb(174, 174, 174);
}

.loadingSpinner {
  margin: auto !important;
  display: inline-block;
  /* width: 8em !important; */
  /* height: 8em !important; */
}

.listLoading {
  color: rgb(104, 118, 105);
  text-align: center;
  position: relative;
  max-width: 400px;
  margin: auto;
}

.listLoading h2 {
  margin-left: 1em;
  display: inline-block;
  width: fit-content;
}

.listLoading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 2em;
  margin-top: 1em;
  border: 4px solid rgb(176, 176, 176);
  max-height: 200px;
}
